/* iOS Cordova Tweak */
.device-cordova.device-ios 
  height 100vh


/* Custom color theme properties */
:root 
  --f7-theme-color #FBCA3D
  --f7-theme-color-rgb 251, 202, 61
  --f7-theme-color-shade #fabf15
  --f7-theme-color-tint #fcd565


/* Your app custom styles here */
#view-home
  .page-content
    padding-top 0
  .realstate-card
    border-radius 18px
    padding 5px
  .realstateSwiper
    .card-header
      height 250px
      background-size cover
      border-radius 18px
    .card-content
      .price
        font-size 16px
      .place
        font-size 12px
  .home-splash
    width 100vw
    // height 90vh
    display block
    background-repeat no-repeat 
    background-image url('../static/img/home-bg.png')
    background-position 50% 50%
    background-size cover
    padding-top 10vh
    padding-bottom 10vh
    
    .searchBtn
      color black
      width 60%
      margin-left 20%
      margin-right 20%
      margin-top 35px
      margin-bottom 25px
      // padding-right 20px
      // padding-left 20px
      height 35px
      line-height 35px
    .searchBlock
      border-radius 30px
    .searchForm
      margin-top 10px
      margin-bottom 10px
    .logo
      width 80vw
      margin-left 10vw
      margin-right 10vw
      height auto
      display block
    .select-search
      margin-bottom 25px
      .item-content
        padding-left 0
      .item-title
        margin-left 0
      .item-inner
        &:after
          display none
      .input-dropdown:before
        content ''
        pointer-events none
        position absolute
        top 44%
        margin-top -2px
        width 20px
        height 20px
        display block
        border-radius 10px
        background-color #FDD34A
        right 7px
        border none
      .input-dropdown:after
        content ''
        pointer-events none
        position absolute
        top 60%
        margin-top -2px
        width 0
        height 0
        border-left 4px solid transparent
        border-right 4px solid transparent
        border-top 5px solid #727272
        right 14px
        top 64%
        right 13px
        border-top 5px solid #fff

        

      select
        height 30px
        background-color #F7F7F7
        border-radius 30px
        padding-left 20px
        margin-top 10px
        font-size 14px
    
  .subnavbar
    background-color transparent
    backdrop-filter none
    width 90vw
    
    margin-left 5vw
    margin-right 5vw
    margin-top 2vw
    &:after
      display none
    .searchbar
      input
        background-color white
        border-radius 35px
        border 0.5px solid rgba(0,0,0,0.1)

.mainMenu
  width 90vw
  margin-left 5vw
  margin-right 5vw
  margin-bottom 3vw
  border-radius 15px
  &.toolbar-bottom.toolbar-hidden
    transform translate3d(0, 130%, 0)
  &:before
    display none